.navBarContainer{
    width: 100%;
    height: 8%;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1.5%;
    transition: all 0.5s;
}

.logoContainer{
    float: left;
    margin-left: 2%;
}

.listDiv{
    float: right;
    margin-right: 5%;
}

.listContainer{
    display: inline;
    list-style-type: none;
}

.list{
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

.list a{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.list a:hover{
    font-size: 1.3em;
}

.cartNavContainer{
    display: inline-block;
    position: relative;
    margin-right: 1em;
}

.cartNavName{
    z-index: 1;
    display: inline;
}

.cartNavBadge{
    text-align: center;
    display: inline-block;
    position: absolute;
    top:70%;
    left:90%;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: red;
    font-size: 1em;
    z-index: 2;
}