.loadingContainer{
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 90vh;
    text-align: center;
    position: relative;
}

.loadingBarContainer{
    width: 20%;
    height: 38%;
    padding-top: 17%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    position: relative;
    z-index: 2;
}

.item1, .item2, .item3, .item4, .item5{
    display: block;
    border-radius: 5%;
    background: transparent;
}

.item1{
    
    grid-area: 1 / 1 / span 1 / span 2;
    animation: changeWidth  2s infinite ease-in-out;
}

.item2{
    position: relative;
    grid-area: 2 / 1 / span 2 / span 1;
    animation: changePositionTop  7s ease-in-out infinite 2s;

}

.item3{
    
    grid-area: 1 / 3 / span 2 / span 1;
    animation: changeHeight  1.7s infinite ease-in-out 0.7s;
}

.item4{
    display: block;
    background: #F1E70E;
    grid-area: 2 / 2 / span 1 / span 1;
    animation: changeWidthAndClip  2s infinite ease-in-out;

}

.item5{
    position: relative;
    
    grid-area: 3 / 2 / span 1 / span 2;
    animation: changePositionleft  5s infinite ease-in-out 1.5s;

}

.backgroundContainer{
    position: absolute;
    width: 40%;
    height: 70%;
    top: 22.3%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

@keyframes changeWidthAndClip {
    0% {clip-path: circle(0% at 58% 47%);}
    10% {clip-path: circle(13.9% at 58% 47%);}
    25% {clip-path: circle(13.9% at 58% 47%);}
    30% {clip-path: circle(41.1% at 58% 47%);}
    50% {clip-path: circle(78.6% at 58% 47%);}
    75% {clip-path: circle(41.1% at 58% 47%);}
    100% {clip-path: circle(13.9% at 58% 47%);}
}

@keyframes changeWidth {
    0% {width: 0%; background: #1E33E1;}
    50% {width: 100%; background: #1E33E1;}
    /* 50% {width: 100%} */
    100% {width: 100%; background: #1E33E1;}
}

@keyframes changeHeight {
    0% {height: 0%; background: #1678E9;}
    20% {height: 0%; background: #1678E9;}
    80% {height: 100%; background: #1678E9;}
    /* 50% {height: 100%;} */
    100% {height: 100%; background: #1678E9;}
}

@keyframes changePositionleft {
    0% {left: 100%; width: 0%; background: #4593ED;}
    20% {left: 0%; width: 100%; background: #4593ED;}
    100% {left: 0%; width: 100%; background: #4593ED;}
    /* 100% {left: 100%; width: 0%;} */
}

@keyframes changePositionTop {
    0% {top: 100%; height: 0%; background: #4B5CE7;}
    20% {top: 0%; height: 100%; background: #4B5CE7;}
    100% {top: 0%; height: 100%; background: #4B5CE7;}
    /* 100% {top: 100%; height: 0%;} */
}